In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
pd.Series([df[df['list2'] == x].shape[0] * x for x in df['list1']]).sum()

np.int64(23177084)

In [24]:
df.mult.sum()

0      26802880
1      36581376
2      40896960
3      40827072
4      30438720
         ...
995    10621728
996    28611232
997    19714240
998    39332800
999    25600224
Name: list1, Length: 1000, dtype: int64

np.int64(23177084)