In [2]:
import pandas as pd

In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\15122\documents\src\aoc\day1\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\15122\documents\src\aoc\day1\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading numpy-2.1.3-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------- ----------------------------- 3.4/12.6 MB 18.3 MB/s eta 0:00:01
   ------------------------- -------------- 7.9/12.6 MB 19.5 MB/s eta 0:00:01
   ----------------------------------- ---- 11.0/12.6 MB 19.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 16.8 MB/s eta 0:00:00
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [8]:
df = pd.read_csv('data.csv')

In [9]:
df

     list1  list2
0    64430  75582
1    87936  20843
2    98310  72035
3    98142  69076
4    73170  50561
..     ...    ...
995  25533  96431
996  68777  15175
997  47390  75651
998  94550  80760
999  61539  20843

[1000 rows x 2 columns]

In [13]:
list1 = list(df.list1.sort_values())

In [15]:
list2 = list(df.list2.sort_values())

In [16]:
list2

[10245,
 10253,
 10379,
 10468,
 10687,
 10953,
 11004,
 11156,
 11262,
 11404,
 11445,
 11599,
 11797,
 11853,
 12152,
 12291,
 12344,
 12352,
 12373,
 12607,
 12924,
 13148,
 13336,
 13352,
 13466,
 13525,
 13782,
 14075,
 14080,
 14227,
 14399,
 14982,
 15090,
 15099,
 15175,
 15295,
 15301,
 15314,
 15435,
 15539,
 16037,
 16081,
 16199,
 16319,
 16738,
 16864,
 17008,
 17116,
 17473,
 17588,
 17766,
 17827,
 17962,
 18036,
 18088,
 18405,
 18409,
 18411,
 18855,
 19059,
 19177,
 19198,
 19198,
 19198,
 19198,
 19198,
 19198,
 19198,
 19323,
 19442,
 19941,
 20125,
 20147,
 20329,
 20415,
 20452,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20540,
 20649,
 20716,
 20716,
 20716,
 20716,
 20716,
 20716,
 20716,
 20716,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20843,
 20844,
 21023,
 21134,
 21277,
 21436,
 21449,
 21625,
 21653,
 21718,
 21718,
 21718,
 21718,
 21718,
 21718,
 21718,
 21718,
 21718,
 21763,
 21870,
 22018,
 22112,
 22506,
 22994,
 23059,
 23081,
 23213,
 23263,
 23339,
 23340,
 23423,
 23518,
 23548,
 23702,
 23804,
 23808,
 23884,
 24002,
 24004,
 24014,
 24247,
 24363,
 24392,
 24491,
 24578,
 24679,
 24846,
 24917,
 25025,
 25131,
 25156,
 25173,
 25174,
 25490,
 25515,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25697,
 25765,
 26473,
 26852,
 26856,
 26888,
 26960,
 27103,
 27487,
 27550,
 27703,
 27770,
 27842,
 28171,
 28270,
 28309,
 28363,
 28442,
 28442,
 28442,
 28627,
 28689,
 28757,
 28819,
 29159,
 29256,
 29503,
 29897,
 30026,
 30034,
 30206,
 30214,
 30351,
 30375,
 30402,
 30506,
 30664,
 30809,
 31038,
 31065,
 31081,
 31467,
 31544,
 31623,
 31642,
 31991,
 32065,
 32133,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32178,
 32316,
 32490,
 32614,
 32614,
 32614,
 32614,
 32614,
 32614,
 32662,
 33132,
 33272,
 33274,
 33425,
 33573,
 33808,
 33920,
 34181,
 34197,
 34368,
 34541,
 34542,
 34713,
 34732,
 34834,
 34899,
 35046,
 35486,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35781,
 35918,
 36088,
 36097,
 36430,
 36472,
 36662,
 36750,
 36928,
 36942,
 36987,
 37133,
 37177,
 37320,
 37577,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37648,
 37936,
 38138,
 38593,
 38796,
 38902,
 39097,
 39097,
 39097,
 39097,
 39097,
 39097,
 39097,
 39097,
 39097,
 39117,
 39191,
 39242,
 39267,
 39358,
 39399,
 39516,
 39610,
 39795,
 39877,
 39950,
 40117,
 40475,
 40592,
 40606,
 40716,
 40782,
 40848,
 40879,
 40936,
 40937,
 41279,
 41438,
 41563,
 41667,
 41865,
 41869,
 42103,
 42151,
 42174,
 42210,
 42210,
 42210,
 42210,
 42210,
 42210,
 42210,
 42210,
 42210,
 42210,
 42210,
 42245,
 42481,
 42609,
 42671,
 42671,
 42671,
 42671,
 42991,
 43047,
 43160,
 43260,
 43275,
 43409,
 43417,
 43420,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43473,
 43646,
 43688,
 43749,
 43852,
 43989,
 44022,
 44140,
 44178,
 44240,
 44307,
 44424,
 44495,
 44495,
 44495,
 44507,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 44738,
 45167,
 45452,
 45659,
 45709,
 45771,
 45960,
 46227,
 46252,
 46564,
 46691,
 46947,
 46956,
 47157,
 47303,
 47398,
 47403,
 47464,
 47639,
 47932,
 48065,
 48276,
 48277,
 48409,
 48419,
 48488,
 48543,
 48652,
 48749,
 48757,
 48801,
 49359,
 49551,
 49648,
 50046,
 50257,
 50327,
 50336,
 50547,
 50561,
 50621,
 50769,
 51055,
 51288,
 51474,
 51485,
 51808,
 51875,
 52578,
 52578,
 52578,
 52578,
 52578,
 52722,
 52896,
 52969,
 52977,
 52984,
 52984,
 52984,
 52984,
 52984,
 52984,
 52984,
 52984,
 52984,
 52984,
 53151,
 53253,
 53505,
 53532,
 54241,
 54251,
 54282,
 54575,
 54586,
 54679,
 54823,
 54910,
 55053,
 55239,
 55268,
 55285,
 55320,
 55432,
 55446,
 55565,
 55613,
 56271,
 56933,
 57018,
 57203,
 57472,
 57673,
 57933,
 58631,
 58808,
 58861,
 58867,
 59450,
 59672,
 59675,
 59977,
 60184,
 60223,
 60590,
 60687,
 60748,
 60748,
 60748,
 60748,
 60748,
 60748,
 60748,
 60748,
 60748,
 60748,
 60748,
 60748,
 60768,
 60970,
 60996,
 61012,
 61041,
 61080,
 61124,
 61360,
 61539,
 61539,
 61539,
 61539,
 61539,
 61539,
 61539,
 61539,
 61539,
 61539,
 61539,
 61764,
 61991,
 62071,
 62073,
 62085,
 62312,
 62364,
 62612,
 62852,
 62867,
 62916,
 63580,
 63694,
 63823,
 64434,
 64723,
 64769,
 65400,
 65500,
 65696,
 65861,
 66763,
 66763,
 66803,
 66913,
 67051,
 67054,
 67476,
 67650,
 67787,
 67817,
 67888,
 67938,
 68250,
 68405,
 68538,
 68597,
 68627,
 68680,
 68926,
 69076,
 69076,
 69076,
 69076,
 69076,
 69076,
 69076,
 69076,
 69107,
 69322,
 69422,
 69423,
 69562,
 69609,
 69724,
 69737,
 69762,
 69819,
 69859,
 70174,
 70229,
 70552,
 70562,
 70746,
 70754,
 70939,
 71215,
 71396,
 71537,
 71638,
 71692,
 71698,
 71871,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72035,
 72429,
 72720,
 72831,
 72884,
 73077,
 73132,
 73389,
 73418,
 73820,
 73906,
 73924,
 73990,
 74023,
 74024,
 74161,
 74187,
 74190,
 74280,
 74304,
 74543,
 74779,
 74826,
 74833,
 75217,
 75395,
 75439,
 75582,
 75630,
 75651,
 75780,
 75804,
 75816,
 75894,
 75924,
 76133,
 76209,
 76234,
 76268,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76459,
 76464,
 76587,
 76619,
 76639,
 76885,
 77003,
 77097,
 77097,
 77097,
 77097,
 77097,
 77097,
 77097,
 77097,
 77097,
 77097,
 77374,
 77706,
 77726,
 77822,
 77838,
 77858,
 78097,
 78131,
 78322,
 78452,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78467,
 78621,
 78634,
 78757,
 78935,
 79052,
 79129,
 79166,
 79309,
 79589,
 79589,
 79589,
 79589,
 79589,
 79589,
 79875,
 79965,
 80045,
 80286,
 80690,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 80760,
 81067,
 81067,
 81067,
 81067,
 81067,
 81067,
 81067,
 81067,
 81067,
 81067,
 81067,
 81067,
 81151,
 81151,
 81151,
 81151,
 81151,
 81151,
 81151,
 81533,
 81559,
 81601,
 81843,
 81986,
 82028,
 82028,
 82179,
 82308,
 82563,
 82808,
 82826,
 83206,
 83281,
 83313,
 83358,
 83590,
 83597,
 83711,
 83814,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 83883,
 84363,
 84718,
 84718,
 84718,
 84718,
 84718,
 84718,
 84718,
 84718,
 84718,
 84718,
 84718,
 84731,
 84751,
 84880,
 85109,
 85579,
 85679,
 85726,
 85726,
 85726,
 85726,
 85839,
 86232,
 86377,
 86494,
 86785,
 87050,
 87098,
 87304,
 87361,
 87524,
 87846,
 87955,
 88048,
 88064,
 88911,
 89046,
 89274,
 89353,
 89466,
 89473,
 89512,
 89556,
 89714,
 89796,
 89828,
 89913,
 89986,
 90042,
 90060,
 90472,
 90493,
 90745,
 90827,
 90929,
 90971,
 91679,
 91715,
 91952,
 92066,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92252,
 92356,
 92389,
 92403,
 92521,
 92540,
 92542,
 92703,
 92745,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92762,
 92765,
 92936,
 93445,
 93533,
 93602,
 93659,
 94048,
 94627,
 94633,
 94678,
 94710,
 95026,
 95646,
 95680,
 95715,
 95725,
 95932,
 96322,
 96431,
 96437,
 97012,
 97080,
 97575,
 97620,
 97868,
 98023,
 98098,
 98154,
 98263,
 98749,
 98910,
 99026,
 99039,
 99213]

In [18]:
df = pd.DataFrame()

In [19]:
df['list1'] = list1

In [20]:
df['list2'] = list2

In [24]:
df['diff'] = abs(df['list1'] - df['list2'])

In [25]:
df['diff'].sum()

np.int64(2057374)

In [26]:
df

     list1  list2  diff
0    10054  10245   191
1    10323  10253    70
2    10415  10379    36
3    10576  10468   108
4    10746  10687    59
..     ...    ...   ...
995  99380  98749   631
996  99686  98910   776
997  99764  99026   738
998  99803  99039   764
999  99883  99213   670

[1000 rows x 3 columns]

In [27]:
df[df['diff']==0]

     list1  list2  diff
116  20843  20843     0
563  60748  60748     0
776  79589  79589     0
788  80760  80760     0
920  92252  92252     0